<h2 class="text-2xl font-semibold mb-6 text-gray-800">
  Results (
    <%= number_with_delimiter(@total_count_display || @pagy.count) %>
    Found)
</h2>

<div class="space-y-4">
  <%# Implicitly renders organizations/_organization.html.erb for each item %>
  <%= render @organizations %>
</div>

<div class="py-6 flex justify-center">
  <% if @pagy %>
    <%== @pagy.series_nav(data: { turbo_frame: "organization_search_results" }) %>
  <% end %>
</div>